* {
    box-sizing: border-box;
}

html {
    background-color: #EEEEEE;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1000px;
    font-size: 16px;
}

header {
    margin: 0;
    padding: 20px;
    background-color: #fff3f3;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    margin: 0;
    padding: 10px;
    color: #fff;
    background-color: #8e1616;
}

nav ul {
    display: flex;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0;
    margin-right: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}



main {
    padding-top: 30px;
}


main .title {
    margin-left: 1em;
    color: #fff;
}

main.team-members {
    padding: 40px 0;
    color: #171717;
    background-color: #fff;
}

main.team-members h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

#team {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 5px;
    list-style: none;
    justify-content: space-around;
}

#team li {
    padding: 10px;
    margin-bottom: 30px;
    background-color: lightgrey;
}

#team img {
    padding: 10px;
}

#team p {
    margin: 10px 0;
    text-align: center;
}

#team a {
    color: black;
}

/* Footer */
footer {
    padding: 10px 20px;
    background-color: #171717;
}

footer nav {
    padding: 0;
    background-color: transparent;
    font-size: 0.8em;
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer .logo {
    margin: 40px 0;
    text-align: right;
}

.copyright {
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    margin: 0;
}

@media (max-width: 700px) {
    .banner {
        display: none;
    }

}

@media (max-width: 550px) {
  

    footer nav ul {
        justify-content: center;
    }

    footer .logo {
        text-align: center;
    }
}

